form {
  text-align: center;
  height: fit-content;
}
form p {
  text-align: left;
  margin-left: 1rem;
}
.formButton {
  margin: 1rem !important;
  text-transform: none !important;
}
.gen {
  background-color: rgba(0, 89, 255, 0.034) !important;
}
.labelsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: fit-content;
  overflow: hidden;
}

.option .labelButton {
  width: 65%;
  font-size: 1rem;
  border: none;
  margin: 0.3rem auto 0.3rem auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.option .delButton {
  border: none;
  background-color: transparent;
  width: fit-content !important;
}
.option.chosen .delButton {
  margin-left: -35px;
}
.option {
  transition: width 0.5s;
  width: 65%;
}

.option.chosen {
  width: 85%;
}
.option.chosen .icon {
  vertical-align: middle;
  margin-bottom: 7.5px;
}
.option.chosen button {
  font-weight: bolder;
}
