.tasksList {
  overflow: hidden;
  overflow-y: auto;
  height: 81vh;
  padding: 0 0.4rem 0 0.4rem;
}

.listCard {
  width: 65%;
}
.filterOptionsList p {
  background-image: radial-gradient(circle at center, #3f51b581, transparent);
  margin: 15% 0 15% 0;
}
.filterOption {
  margin: 3%;
  font-size: 2.5rem;
  border: none;
  padding: 0;
  font-weight: bolder;
  border-radius: 1rem;
  width: 100%;
}
.filterOptionsList {
  list-style: none;
  height: 81vh;

  margin: auto;
  padding: 0;
  width: 50%;
  text-align: center;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
