.task button {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  display: flex;
}
.task {
  user-select: none;
  -webkit-user-select: none;
  border-radius: 0.5rem;
  width: 85%;
  margin: auto;
  margin-top: 0.6rem;
  overflow: hidden;
}
.task input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
}
.topContainer {
  display: flex;
  justify-content: space-between;
}
.topContainer .iconsCon {
  display: flex;
}
.date {
  margin: 0.2rem;
  font-size: 0.6rem;
}
.title {
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 0.1rem;
  font-weight: bolder;
}

.task.completed h2,
.task.completed .label,
.task.completed .date,
.task.completed p {
  opacity: 0.4;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}
.buttonsContainer button {
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.548);
}

.buttonsContainer button:hover {
  background-color: rgba(167, 167, 167, 0.274);
  color: black;
  font-weight: bolder;
}
.description {
  font-size: 100%;
}
p,
.description {
  padding: 0.4rem;
}
.modalTaskName {
  vertical-align: baseline;
  font-weight: bold;
}
.icon {
  margin-right: 0.3rem;
}
.delButton:hover,
.editButton:hover {
  font-weight: bolder;
}
.delButton:hover {
  color: red;
}
.editButton:hover {
  color: goldenrod;
}

.label {
  font-size: 0.8rem;
  padding: 1.5% 2% 1.5% 2%;
  margin: 2%;
  width: fit-content;
  border-radius: 5px;
}
ul p {
  height: 3.5%;
  line-break: anywhere;
}
@media (max-width: 768px) {
  .buttonsContainer button:focus {
    color: rgba(0, 0, 0, 0.548);
    background-color: transparent;
  }
  .task {
    width: 95%;
  }
}
