.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
main {
  flex-grow: 6;
  display: flex;
  justify-content: space-around;
}
button:focus {
  outline: none;
}
